/*================================================
Top Header Area CSS
=================================================*/
.top-header-area {
  background-color: #000011;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-header-information {
  padding-left: 0;
  margin-bottom: 0;
}

.top-header-information li {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin-right: 15px;
  padding-left: 20px;
}

.top-header-information li:last-child {
  margin-right: 0;
}

.top-header-information li i {
  position: absolute;
  left: 0;
  top: 2px;
  color: #d31531;
}

.top-header-optional {
  padding-left: 0;
  margin-bottom: 0;
  text-align: right;
  line-height: 2;
}

.top-header-optional li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  color: #ffffff;
  font-size: 15px;
  position: relative;
}

.top-header-optional li::before {
  content: "";
  position: absolute;
  right: -12px;
  top: 7px;
  width: 1px;
  height: 15px;
  background-color: #ffffff;
}

.top-header-optional li b {
  color: #d31531;
  position: relative;
  top: 1px;
}

.top-header-optional li:last-child {
  margin-right: 0;
}

.top-header-optional li:last-child::before {
  display: none;
}

.top-header-optional .language-switcher {
  position: relative;
}

.top-header-optional .language-switcher .dropdown-toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-header-optional .language-switcher .dropdown-toggle::after {
  display: none;
}

.top-header-optional .language-switcher .dropdown-toggle span {
  display: inline-block;
  font-size: 15px;
}

.top-header-optional .language-switcher .dropdown-toggle span i {
  position: relative;
  font-size: 20px;
  top: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-header-optional .language-switcher .dropdown-toggle:hover {
  color: #ff4545;
}

.top-header-optional .language-switcher .dropdown-toggle:hover span i {
  color: #ff4545;
}

.top-header-optional .language-switcher .dropdown-menu {
  padding: 15px;
  float: unset;
  border: none;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  display: block;
  margin-top: 10px !important;
  opacity: 0;
  visibility: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  right: 0 !important;
  left: auto !important;
}

.top-header-optional .language-switcher .dropdown-menu .dropdown-item {
  padding: 0;
  color: #09101f;
  margin-bottom: 10px;
  font-weight: 600;
}

.top-header-optional .language-switcher .dropdown-menu .dropdown-item::before {
  display: none;
}

.top-header-optional
  .language-switcher
  .dropdown-menu
  .dropdown-item:last-child {
  margin-bottom: 0;
}

.top-header-optional .language-switcher .dropdown-menu .dropdown-item img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.top-header-optional .language-switcher .dropdown-menu .dropdown-item span {
  display: inline-block;
  margin-left: 8px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-header-optional
  .language-switcher
  .dropdown-menu
  .dropdown-item
  span:hover {
  color: #d31531;
}

.top-header-optional .language-switcher .dropdown-menu .dropdown-item:hover,
.top-header-optional .language-switcher .dropdown-menu .dropdown-item:focus {
  background-color: transparent !important;
}

.top-header-optional .language-switcher .dropdown-menu .dropdown-item:active,
.top-header-optional .language-switcher .dropdown-menu .dropdown-item.active {
  color: #09101f;
  background-color: transparent;
}

.top-header-optional .language-switcher .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*================================================
Middle Header Area CSS
=================================================*/
.middle-header-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

.middle-header-search form {
  position: relative;
}

.middle-header-search form label {
  display: block;
  margin-bottom: 0;
}

.middle-header-search form .screen-reader-text {
  display: none;
}

.middle-header-search form .search-field {
  background-color: #ffffff;
  height: 50px;
  padding: 8px 15px;
  border: 1px solid #e1e1e1;
  width: 100%;
  display: block;
  outline: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14px;
}

.middle-header-search form .search-field:focus {
  border-color: #d31531;
}

.middle-header-search form button {
  border: none;
  background-color: #d31531;
  color: #ffffff;
  height: 40px;
  width: 45px;
  position: absolute;
  right: 5px;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 5px;
  font-size: 25px;
  cursor: pointer;
}

.middle-header-search form button i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.middle-header-search form button:hover,
.middle-header-search form button:focus {
  background-color: #ff4545;
  color: #ffffff;
}

.middle-header-optional {
  padding-left: 0;
  margin-bottom: 0;
  text-align: right;
}

.middle-header-optional li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #09101f;
  margin-right: 25px;
  position: relative;
}

.middle-header-optional li::before {
  content: "";
  position: absolute;
  right: -15px;
  top: 12px;
  width: 1px;
  height: 20px;
  background-color: #d31531;
}

.middle-header-optional li:last-child {
  margin-right: 0;
}

.middle-header-optional li:last-child::before {
  display: none;
}

.middle-header-optional li:nth-child(2)::before {
  display: none;
}

.middle-header-optional li i {
  font-size: 30px;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.middle-header-optional li i span {
  position: absolute;
  right: -5px;
  top: -2px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  background: #ff4545;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.middle-header-optional li .user-btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: #d31531;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 500;
}

.middle-header-optional li .user-btn:hover {
  background-color: #ff4545;
}

.middle-header-optional li .user-btn i {
  font-size: 20px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top-header-information {
    text-align: center;
  }
  .top-header-optional {
    text-align: center;
  }
  .middle-header-logo {
    display: none;
  }
  .middle-header-optional {
    text-align: center;
  }
  .middle-header-area {
    border-bottom: 1px solid #eeeeee;
  }
  .middle-header-search {
    margin-bottom: 20px;
  }
  .middle-header-optional li {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .middle-header-optional li:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .top-header-information li {
    font-size: 12px;
    margin-right: 10px;
  }
  .middle-header-optional li {
    font-size: 15px;
    margin-right: 10px;
  }
  .middle-header-optional li i {
    font-size: 20px;
  }
  .middle-header-optional li::before {
    right: -8px !important;
    top: 5px !important;
  }
  .middle-header-optional li .user-btn {
    padding: 5px 15px;
    font-size: 14px;
  }
  .middle-header-optional li .user-btn i {
    font-size: 16px;
    margin-right: 2px;
  }
}

@media only screen and (max-width: 767px) {
  .top-header-information {
    text-align: center;
  }
  .top-header-optional {
    text-align: center;
  }
  .middle-header-logo {
    display: none;
  }
  .middle-header-optional {
    text-align: center;
  }
  .middle-header-area {
    border-bottom: 1px solid #eeeeee;
  }
  .middle-header-search {
    margin-bottom: 20px;
  }
  .middle-header-optional li {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .middle-header-optional li:last-child {
    margin-bottom: 0;
  }
}
